{{!-- Signup Modal --}}
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        {{>modals/signup}}

    </div>

</div>

{{!-- Log in Modal --}}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        {{>modals/login}}

    </div>
</div>
